---
import Layout from "../layouts/Layout.astro";
import { getCldImageUrl } from "astro-cloudinary/helpers";
import ButtonClick from "../components/buttonClick.astro";
import { TOPICS } from "../models/topics";
const { searchParams } = Astro.url;
const id = searchParams.get("id");

if (id == null) return Astro.redirect("/");
type TopicKey = keyof typeof TOPICS;
const url = getCldImageUrl({ src: id });
---

<Layout title="foto">
  <div class="max-w-full flex flex-col md:flex-row justify-center gap-x-4" data-id={id}>
    <input type="checkbox" name="menu-left" class="peer hidden" id="menu-left">
    <label for="menu-left" class="md:hidden p-2">
      <i class="ti ti-layout-sidebar-left-expand "/>Opciones Halloween
    </label>
    <nav class="peer-checked:left-0 fixed h-full top-0 md:relative md:h-auto flex flex-col -left-full md:left-0 bg-zinc-800 p-2 rounded-md z-10 transition-all duration-300 ease-in-out">
      <label for="menu-left" class="md:hidden">
        <i class="ti ti-x text-3xl"></i>
      </label>
      <h2 class="text-center font-bold p-2">OPCIONES HALLOWEEN</h2>
      {
        (Object.keys(TOPICS) as TopicKey[]).map((key) => (
          <ButtonClick value={key} icon={TOPICS[key].icon}>
            {TOPICS[key].name}
          </ButtonClick>
        ))
      }
    </nav>
    <div class="">
      <two-up class="rounded-lg overflow-hidden w-full md:h-[600px]">
        <img id="original" class="w-full " src={url} />
        <img id="preview" class="h-full" src={url} />
      </two-up>
      <div class="flex gap-2 mt-2">
        <input
          type="radio"
          id="custom"
          type="radio"
          name="opciones"
          value="custom"
          class="peer hidden"
        />
        <input
          id="inputPromt"
          type="text"
          class="bg-zinc-800 peer-checked:bg-zinc-700 w-full py-2 px-4 rounded-md  bg-transparent text-white"
          placeholder="Escribele a la ia"
        />
        <button class="bg-zinc-800 py-2 px-4 rounded-md active:bg-orange-700">Enviar</button>
      </div>
      <small>{url}</small>
    </div>
  </div>
</Layout>
<script>
  import { getCldImageUrl } from "astro-cloudinary/helpers";
  import { TOPICS } from "../models/topics";
  import "two-up-element";

  const id = document.querySelector("div")?.getAttribute("data-id") ?? "";
  const preview = document.getElementById("preview") as HTMLImageElement;
  const inputPromt = document.getElementById("inputPromt") as HTMLInputElement;
  const custom = document.getElementById("custom") as HTMLInputElement;
  const btnEnviar = document.querySelector("button");
  btnEnviar?.addEventListener("click", () => {
    const prompt = inputPromt.value;
    if(prompt=="" || prompt==null) return
    const url = getCldImageUrl({
        src: id,
        replaceBackground: prompt,
        art: "zorro",
      });

      preview.style.opacity = ".3";

      preview.src = url;
      preview.onload = () => {
        preview.style.opacity = "1";
      };
    });

  inputPromt.addEventListener("click", () => {
    custom.checked = true;
    console.log(custom.checkVisibility());
  });

  const button = document.querySelectorAll("input");
  const url = getCldImageUrl({ src: id });
  button.forEach((button) => {
    button.addEventListener("click", (e) => {
      const topic = button.value;
      if (topic == null || !(topic in TOPICS)) return;
      const select: keyof typeof TOPICS = topic as keyof typeof TOPICS;
      const url = getCldImageUrl({
        src: id,
        replaceBackground: TOPICS[select].description,
        art: "zorro",
      });

      preview.style.opacity = ".3";

      preview.src = url;
      preview.onload = () => {
        preview.style.opacity = "1";
      };
    });
  });
</script>
